$bg: #F9FFF2;
$green: #99E381;
$greenHover: #71BB59;
$yellow: #FAFF71;
$yellowLight: #FAFF7133;
$yellowMenuBtn: #C8CD3F;
$yellowMenuBg: #F0F567;
$yellowTimer0Row: #DCE153;
$yellowTimer1Row: #BEC33580;
$yellowTimer2Row: #BEC33540;
$black: #141900;
$black2: #3B4134;
$gray: #999999;


.text-bg { color: $bg; }
.text-green { color: $green; }
.text-greenHover { color: $greenHover; }
.text-yellow { color: $yellow; }
.text-yellowLight { color: $yellowLight; }
.text-yellowMenuBtn { color: $yellowMenuBtn; }
.text-yellowMenuBg { color: $yellowMenuBg; }
.text-yellowTimer0Row { color: $yellowTimer0Row; }
.text-yellowTimer1Row { color: $yellowTimer1Row; }
.text-yellowTimer2Row { color: $yellowTimer2Row; }
.text-black { color: $black; }
.text-black2 { color: $black2; }
.text-gray { color: $gray; }

.bg-bg { background-color: $bg; }
.bg-green { background-color: $green; }
.bg-greenHover { background-color: $greenHover; }
.bg-yellow { background-color: $yellow; }
.bg-yellowLight { background-color: $yellowLight; }
.bg-yellowMenuBtn { background-color: $yellowMenuBtn; }
.bg-yellowMenuBg { background-color: $yellowMenuBg; }
.bg-yellowTimer0Row { background-color: $yellowTimer0Row; }
.bg-yellowTimer1Row { background-color: $yellowTimer1Row; }
.bg-yellowTimer2Row { background-color: $yellowTimer2Row; }
.bg-black { background-color: $black; }
.bg-black2 { background-color: $black2; }
.bg-gray { background-color: $gray; }
